body {
    background-color: cornflowerblue;
}

#container{
  display: block;
  margin: auto;
    width: 50%;
}
#containered{
    position: absolute;
    left: 50rem;
    width: 50%;
}

.p-3 {
    padding: .5rem!important;
    border-radius: 10px;
    border: 0px;
}

#title-one{
    /*padding-left: 690px;*/
    /*padding-right: 690px;*/

    padding-left: 508px;
}
.title{
    text-align: left;
}

.box{
    width: 30px;
    height: 30px;
    background-color: red;
    border: 1px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 6;
}

.square{
    width: 80px;
    height: 80px;
    border: double 6px transparent;
    border-radius: 80px;
    background-image: linear-gradient(lightgreen, lightgreen), radial-gradient(circle at top left, #f00,#3020ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    /*border-image: linear-gradient(to right, darkblue, darkorchid) 1;*/
}

.squared{
    width: 80px;
    height: 80px;
    bottom: 0;
    position: absolute;
    background-color: lightgreen;
}
