body {
    background-color: cornflowerblue;
}

#container{
  display: block;
  margin: auto;
    width: 50%;
}

.p-3 {
    padding: .5rem!important;
    border-radius: 10px;
    border: 0px;
}

#title-one{
    /*padding-left: 690px;*/
    /*padding-right: 690px;*/

    padding-left: 508px;
}
.title{
    text-align: left;
}

.box{
    width: 30px;
    height: 30px;
    background-color: red;
    border: 1px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 6;
}

.square{
    width: 80px;
    height: 80px;

    background-color: lightgreen;

}

